.smail-container{
    max-width: 1080px;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.title{
    text-align: center;
    font-size: 50px;
}

p{
    text-align: center;
}

.para{
    margin: 20px auto;
    text-align: justify;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}